<!DOCTYPE html>
<html>
    <head>
        <title>I come from template!!</title>
        <style>
            body {
               background-color: rgb(243, 242, 229);
            }
            em {
                color: rgb(17, 23, 23);
            }
        </style>
    </head>
    <body>
        <a href="{% url 'subscribe_list' %}">Back Subsriber list</a>
        <div class="buttons has-addons">
            <h2>{{ streamer_title }}</h2>
            {% for sub_stream_list in stream_list %}
                <h3>{{ sub_stream_list.snippet.title }}</h3>
                <img src="{{ sub_stream_list.snippet.thumbnails.medium.url }}" />
            {% endfor %}
        </div>
    </body>
</html>