<!DOCTYPE html>
<html lang="en">
    <script src="https://accounts.google.com/gsi/client" async></script>
    <meta name="google-signin-client_id" content="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">
    <head>
        <meta charset="UTF-8" />
        <title>
            Streaming-project Sign In
        </title>
    </head>
    <body>
        <div id="g_id_onload"
            data-client_id="456715957369-23k4lclnvmhal2e8ueqaond0nls5gpqh.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="redirect"
            data-login_uri="http://127.0.0.1:8000/api/users"
            data-auto_prompt="false">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signin_with"
            data-size="large"
            data-locale="en-US"
            data-logo_alignment="left">
        </div>
        <!-- {% load socialaccount %}
        <h2>Google login</h2>
        <a href="{% provider_login_url 'google' %}">Login in with Google</a>

        {% if  users.is_authenticated %}
        <p>You are login as {{users.email}}</p>
        <a href="logout">Logout</a>
        {% endif %} -->

        <!-- {% if user.is_authenticated %}
        <p>Welcome {{ user.username }} !!!</p>
        <a href="logout">Logout</a>
        {% else %}
        <a href="{% provider_login_url 'google' %}">Sign in</a>
        {% endif %} -->
    </body>
</html>